.storyBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.img {
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 768px) {
  .storyBanner {
    height: 70vw;
    min-height: 300px;
  }
}